
    <%if @notes.count == 0%>
       <h1>There apre no notes for you</h1>
    <% else %>
          <% @notes.each do |note| %>
           <h2><%= link_to  note.title, note%></h2>
           <p> <%= time_ago_in_words(note.created_at)%></p>
          <%end%>
    <% end %>
<%= link_to "New note", new_note_path%>
