<div style="height:550px;">
    <div class="header" style="margin-top:100px;z-index:555">
    <h1 class="text-center"> Add a new note</h1>
    </div>
    <div class="container">
    <%= render 'form' %>
    </div>
</div>
