/*general*/
body{
    font: 1rem/1.714rem "Anaheim", sans-serif;
    font-family: 'Roboto Slab', serif!important;
    background-color: #282828;
    overflow-y: scroll;
    overflow-x: hidden;
}
.container-fluid{
  height: 750px;
}
.col-lg-3{padding-left: 70px!important;}

@media screen and (min-width: 480px)
{#texttween .text {font-size: 38px;  position: absolute; }
}
h1 {
    font-weight: 700!important;
    font-size: 110px !important;
    line-height: 90px !important;
    letter-spacing: -6px!important;
    text-transform: uppercase;
    position: relative;
    color:#00685c!important;
    word-spacing: 10px;
}
h3 {
    color: #00685c!important;
    font-size: 14px!important;
    line-height: 20px!important;
    font-weight: 600!important;
    letter-spacing: 3px!important;
    text-transform: uppercase;
}
h6{
    font-weight: 700 !important;
    font-size: 48px !important;
    line-height: 90px !important;
    letter-spacing: -6px !important;
    text-transform: uppercase;
    position: relative;
    color: #00685c !important;
    word-spacing: 10px;
    margin-left: 24px !important;
}
p {
    font-weight: 300 !important;
    margin-top: 10px!important;
    font-size: 18px!important;
    line-height: 28px!important;
}

ul li{list-style-type: none!important;}
* {
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
/*general ends here*/
  /*fix-background*/
  .fme{
      background-image: url("../images/123.JPG");
      background-size: 100% auto;
      background-repeat: no-repeat;
      height:100vh;
      position: fixed;
      display: block;
      overflow: hidden;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: -999;
      padding: 5% 0 0 0;
  }
  #fixbg-text{
        font-weight: 700;
        font-size: 100px;
        line-height: 90px;
        letter-spacing: -2px;
        text-transform: uppercase;
        position: relative;
        color:red;
  }
  /*fix-background ends here*/
/*navigation starts*/
.navbar{
  height: 90px;
  position: absolute;
}
.topbar{
  position: absolute;
  background-color: #00685c!important;
  font-size: 13px!important;
  }
.navbar-fixed-top{
  font-size: 13px;
}
/*navigation ends here*/
/*block-1 intro*/
    /*jquery css begins*/
#texttween {
   position: relative;
   padding-left: 50px;
   padding-top: 165px;
}
#texttween .text {
  text-shadow: 2px 5px green;
  font-size: 48px;
  position: absolute;
}

    /*jquery css ends*/
.bomb-img{
  background-image: url("../images/big-bomb.png");
  margin-top: 65px !important;
  height : 497px;
  width: 486px;
  z-index: 555;
}
.top-c{
    border-top: red 10px solid;
    background-color: #282828;
    color:#fff;
}
#head-intro {
  position: relative;
  text-align: center;
  margin22px;
  padding-top: 60px;
}

.intro-text {
    font-size: 30px;
    position: absolute;
}
.head-text{
  height: 200px;
  color: white;
}
/*block-1 ends here*/
/*block-2 I'm begins*/

.iam{
  position: relative;
  background-color: white;
  height: 1400px;
  margin-top: 400px;
}
.circle-ul{
  padding: 80px 0 120px 0;
  width: 100%;
  height: 100px;
  margin: -50px auto 0 0;
}
.circle-ul li a{
    display: block;
    outline: none;
}
.cicle-li{
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
.ins-a1, .ins-a2, .ins-a3, .ins-a4, .ins-a5, .ins-a6{
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    color: rgba(255, 255, 255, 1);
    background: #fff;
    border: 3px solid rgba(0, 104, 92, 1);
    position: relative;
    color: rgba(0, 104, 92, 1);
    font-weight: 600;
    font-size: 12px;
}
.ins-a1:hover, .ins-a2:hover, .ins-a3:hover, .ins-a4:hover, .ins-a5:hover, .ins-a6:hover{
  margin-left: -5px;
  margin-top: -20px;
  background: rgba(0, 104, 92, 1);
  color: #fff;
}
.ins-a1{
    top: 70px;
    left: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;
}
.ins-a2 {
    top: 50px;
    left: 30px;
    height: 70px;
    width: 70px;
    line-height: 70px;
}
.ins-a3{
  top: 40px;
  height: 100px;
  width: 100px;
  line-height: 100px;
}
.ins-a4{
  top: 30px;
  height: 120px;
  width: 120px;
  line-height: 110px;

}
.ins-a5{
   top: 20px;
   height: 140px;
   width: 140px;
   line-height: 120px;
}
.ins-a6{
  top: -10px;
  left: 100px;
  height: 200px;
  width: 200px;
  line-height: 200px;
}
.ins-a6:hover {
    height: 210px;
    width: 210px;
    line-height: 210px;
    margin-bottom: 10px;
}
.skill{
      border-radius: 10px;
      background-color: #00685c;
      width: 141px!important;
      height:60px;
      margin-left: -40px;
      margin-top: 70px;
      -ms-transform: rotate(-90deg); /* IE 9 */
      -webkit-transform: rotate(-90deg); /* Chrome, Safari, Opera */
      transform: rotate(-90deg);
}
.works{
      border-radius: 10px;
      background-color: #00685c;
      width: 141px!important;
      height:60px;
      margin-right: -40px;
      margin-top: -145px;
      -ms-transform: rotate(90deg);
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
}
/*block-2 ends here*/

/*block-3 portfolio begins*/
.portfolio{
  position: relative;
  background-color: yellow;
  height: 1150px;
}
.portfolio img{position:absolute;border-radius: 10px;}
figure {
    margin: 0;
    position: relative;
}
.effect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.effect .overlay{
  position: absolute;
  overflow: hidden;
  width: 80%;
  height: 80%;
  left: 10%;
  top: 10%;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  -webkit-transition: opacity 0.35s, -webkit-transform .35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: scale(0,1);
  -ms-transform: scale(0,1);
  transform: scale(0,1);
}
.effect:hover .overlay {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.effect img {
  height: 300px;
  width: 300px;
  display: block;
  position: relative;
  -webkit-transition: all 0.35s;
  transition: all 0.35s;
}

.effect:hover img {
  filter: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg"><filter id="filter"><feComponentTransfer color-interpolation-filters="sRGB"><feFuncR type="linear" slope="0.6" /><feFuncG type="linear" slope="0.6" /><feFuncB type="linear" slope="0.6" /></feComponentTransfer></filter></svg>#filter');
  filter: brightness(0.6);
  -webkit-filter: brightness(0.6);
}

.effect h2 {
  text-transform: uppercase;
  text-align: center;
  position: relative;
  font-size: 17px;
  background-color: transparent;
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,-100%,0);
  transform: translate3d(0,-100%,0);
}

.effect a, effect p {
  color: #FFF;
  padding: 1em 0;
  opacity: 0;
  filter: alpha(opacity=0);
  -webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
  transition: opacity 0.35s, transform 0.35s;
  -webkit-transform: translate3d(0,100%,0);
  transform: translate3d(0,100%,0);
}

.effect:hover a, .effect:hover p, .effect:hover h2 {
  opacity: 1;
  filter: alpha(opacity=100);
  -webkit-transform: translate3d(0,0,0);
  transform: translate3d(0,0,0);
}
.btn-primary{

  height:60px ;
  width:170px ;
  background-color: #00685c;
  color: white;
  background-position: relative;
}
.portfolio .btn a{
  color:white;
  font-size:25px ;
  font-weight: bold;
}
/* block-3 portfolio ends*/

/*block-4 footer begins*/
.last{
  position: relative;
  background-color: white;
  height: 350px;
  margin-top: -20px;
  padding-bottom: 20px;

}
.hf-text{
  text-align: center;
  font-size: 40px;
  color: green;
}
.hf-text:before{
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  margin-top: 26px;
  margin-left: -55px;
}
.hf-text:after{
  content: "";
  width: 50px;
  height: 2px;
  background: #000;
  position: absolute;
  margin-top: 26px;
  margin-left: 5px;
}
.font{
  position: relative;
}
.font:before{
  font-size: 40px;
  color: black;
  font-family: FontAwesome;
  top:0;
  padding-right:10px;
}
.facebook:before{
        content: "\f09a";
}
.linked_in:before{
        content: "\f0e1";
}
.git:before{
        content: "\f113";
}
.insta:before{
        content:  "\f16d";
}
.twitter:before{
        content: "\f099";
}
.blog:before{
        content: "\f0e5";
}
.icon {
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
  margin: 0px;
  width: 66px;
  height: 66px;
  padding: 3px 0 0px 14px;
  border-radius: 50%;
  font-size: 0;
}
.icon-mono {
  background-color: #00685c;
  -webkit-transition: background 2s;
          transition: background 2s;
}
.icon-mono:hover {
  background-color: white;
}
